# Backend Environment Variables
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/techvault?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey_techvault_2026
CLIENT_URL=https://ecommerce-mini-project-o4nr.vercel.app
